*.log*
*.csv
*.egg-info
*.json
*.prof
*.pyc
*.rc
*.sh
*.pstats
!devmibs.sh

*.ini
!tox.ini

*.cfg
!setup.cfg

*.toml
!pyproject.toml

*.yaml
!tests/device_*.yaml
!tests/pyeng_debug.yaml
!netdisc/base/categories.yaml
!.github/workflows/tests.yaml

*.txt*
!requirements*.txt
!notes.txt

*.rst*
!README.rst

.*
!.gitignore
!.pre-commit-config.yaml
!.github

_*.py
!__*.py
