*.log*
*.csv
*.egg-info
*.json
*.prof
*.pyc
*.rc
*.sh

*.ini
!tox.ini

*.cfg
!setup.cfg

*.toml
!pyproject.toml

*.yaml
!netdisc_category/categories.yaml
!.github/workflows/tests.yaml

*.txt*
!requirements*.txt
!notes.txt

*.rst*
!README.rst

.*
!.gitignore
!.pre-commit-config.yaml
!.github

_*.py
!__*.py